:root {
  /* Colores Primarios */
  --color-primary-SteelBlue: #2973b2;
  --color-primary-DarkSlateBlue: #205781;

  /* Colores Secundarios */
  --color-secondary-CadetBlue: #4f959d;
  --color-secondary-LightSeaGreen: #48a6a7;
  --color-secondary-LightBlue: #9acbd0;
  --color-secondary-PowderBlue: #98d2c0;

  /* Colores para el fondo */
  --color-bg-Linen: #f2efe7;
  --color-bg-Beige: #f6f8d5;
}
