.social {
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.text-h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: double;
  border-left: none;
  border-right: none;
  width: 100%;
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kofi-widget {
  background: #f9f9f9;
  width: auto;
  border: none;
  margin: 10px;
}
